<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Particular blog</title>
</head>
<body>
  <h1><%= blog.title %></h1>
  <h2><%= blog.username %></h2>
  <p><%= blog.blog %></p>
  <a href="/<%= blog.id %>/edit">Edit Blog content</a>
  <form method ="POST" action="/<%= blog.id %>/?_method=DELETE">
    <button>Delete comment</button>
  </form>
</body>
</html>